ul > li {
    list-style-type: none;
}

ul.worklog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2em;
    padding: 0;
    margin: 0;
}
ul.worklog > li {
    display: inline-block;
}

ul.worklogForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2em;
    padding: 0;
    margin: 0;
}
